body {
  font-family: sans-serif !important;
}
.navbar {
  width: 100% !important;
}
.navbar-nav {
  margin-left: auto !important;
}
span{
  color: #d43030;
  font-weight: bold;
}
.nav-link {
  color: #404040 !important;
  font-weight: 400;
  color: #d43030 !important;
}
.home {
  width: 100vh;
  height: auto; 
}
.bannerImg{
  width: 98.5vw;
  height: 85vh;
  }
.orgName {
  padding-top: 13vh !important;
  text-align: center;
  color: #d43030;
  margin: auto;
  font-size: 2rem;
}
.sectionTitle {
  padding-top: 5vh;
  text-align: center;
  color: #d43030;
  margin-bottom: 3vh;
}
p {
  text-align: justify;
}
.row {
  text-align: center;
  margin-left: 5%;
}
.card {
  margin-bottom: 10px;
}
.card-body {
  min-height: 220px !important;
}
.position {
  text-align: center !important;
}
.contactUs {
  width: 100% !important;
  margin-left: 0 !important;
}
.footer {
  background-color: lightpink;
  padding: 0.5%;
  margin-top: 2%;
  text-align: center;
}
.contactSection {
  text-align: left !important;
  padding-left: 15%;
  margin-bottom: 20px;
}
i {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #d43030;
}
